body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/19/17/38/desktop-3240606_1280.jpg");
}
h1 {
   color: blue;
   font-size: 100px;
}
#id {
  color: #FFFFFF;
  font-size: 1000px;
  font-family: Georgia, serif;
}
